src/main/resources/META-INF/guzz.dtd

<!--
	Guzz main config DTD, version 1.0
	Authors: Liu Kaixuan (liukaixuan@gmail.com)

	<!DOCTYPE guzz-configs PUBLIC "-//GUZZ//MAIN CONFIG DTD//EN" "http://www.guzz.org/dtd/guzz.dtd">
-->
<!--
	The document root.
-->
<!ELEMENT guzz-configs (config-server? | tran? | dialect| service | import | business | a-business | business-scan | sqlMap | orm)*>

<!ELEMENT properties EMPTY>
<!ATTLIST properties file CDATA #REQUIRED>

<!ELEMENT config-server (server+)>
<!ELEMENT server (param*)>
<!ATTLIST server class CDATA #REQUIRED>
<!ELEMENT param EMPTY>
<!ATTLIST param name CDATA #REQUIRED>
<!ATTLIST param value CDATA #REQUIRED>

<!ELEMENT tran ((dbgroup* | virtualdbgroup*)+)>
<!ATTLIST tran locator CDATA "default">

<!ELEMENT virtualdbgroup (dbgroup*)>
<!ATTLIST virtualdbgroup name CDATA #REQUIRED>
<!ATTLIST virtualdbgroup dialectName CDATA "default">
<!ATTLIST virtualdbgroup shadow CDATA #REQUIRED>

<!ELEMENT dbgroup EMPTY>
<!ATTLIST dbgroup name CDATA "default">
<!ATTLIST dbgroup masterDBConfigName CDATA #IMPLIED>
<!ATTLIST dbgroup slaveDBConfigName CDATA #IMPLIED>
<!ATTLIST dbgroup dialectName CDATA "default">


<!ELEMENT dialect (type*)>
<!ATTLIST dialect name CDATA "default">
<!ATTLIST dialect class CDATA #REQUIRED>
<!ELEMENT type EMPTY>
<!ATTLIST type name CDATA #REQUIRED>
<!ATTLIST type class CDATA #REQUIRED>


<!ELEMENT service EMPTY>
<!ATTLIST service name CDATA #REQUIRED>
<!ATTLIST service configName CDATA #IMPLIED>
<!ATTLIST service class CDATA #REQUIRED>
<!ATTLIST service dependsOn CDATA #IMPLIED>


<!ELEMENT import EMPTY>
<!ATTLIST import resource CDATA #REQUIRED>


<!ELEMENT business EMPTY>
<!ATTLIST business name CDATA #REQUIRED>
<!ATTLIST business dbgroup CDATA "default">
<!ATTLIST business class CDATA #IMPLIED>
<!ATTLIST business interpret CDATA #IMPLIED>
<!ATTLIST business file CDATA #REQUIRED>

<!ELEMENT a-business EMPTY>
<!ATTLIST a-business name CDATA #IMPLIED>
<!ATTLIST a-business dbgroup CDATA "default">
<!ATTLIST a-business class CDATA #REQUIRED>

<!ELEMENT business-scan EMPTY>
<!ATTLIST business-scan dbgroup CDATA "default">
<!ATTLIST business-scan resources CDATA #REQUIRED>

<!ELEMENT sqlMap ((select | update | orm)*)>
<!ATTLIST sqlMap dbgroup CDATA "default">

<!ELEMENT select (#PCDATA|paramsMapping)*>
<!ELEMENT paramsMapping (map*)>
<!ELEMENT map EMPTY>
<!ATTLIST map paramName CDATA #REQUIRED>
<!ATTLIST map propName CDATA #IMPLIED>
<!ATTLIST map type CDATA #IMPLIED>
<!ATTLIST select id ID #REQUIRED>
<!ATTLIST select orm CDATA #REQUIRED>
<!ATTLIST select result-class CDATA #IMPLIED>
<!ATTLIST select templated (true|false) "false">

<!ELEMENT update (#PCDATA|paramsMapping)*>
<!ATTLIST update id ID #REQUIRED>
<!ATTLIST update orm CDATA #REQUIRED>
<!ATTLIST update templated (true|false) "false">

<!ELEMENT orm (result*)>
<!ATTLIST orm id CDATA #REQUIRED>
<!ATTLIST orm class CDATA #IMPLIED>
<!ATTLIST orm dbgroup CDATA "default">
<!ATTLIST orm table CDATA #IMPLIED>
<!ATTLIST orm shadow CDATA #IMPLIED>

<!ELEMENT generator (param*)>
<!ATTLIST generator class CDATA "native">

<!ELEMENT result EMPTY>
<!ATTLIST result property CDATA #REQUIRED>
<!ATTLIST result column CDATA #REQUIRED>
<!ATTLIST result type CDATA #IMPLIED>
<!ATTLIST result null CDATA #IMPLIED>
<!ATTLIST result loader CDATA #IMPLIED>


